/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  margin: 0;
  padding: 0;
  color: rgb(39, 38, 38);
  
}
ul{
  padding: 0;
  list-style-type: none;;
}
[data-top-bar]{
    position: relative;
    background-color: #f4f4f4;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 10000;
    display: flex;
    flex-direction: row;
    padding: 1em 0;
     color: #757373;


}
[data-top-bar] [data-sign-in]{
    margin-left: 10em;
}

[data-top-bar] [data-address]{
    margin-left: auto;
    padding: 0;
   
}
[data-top-bar] [data-address], [data-top-bar] [data-phone]{
   margin-right: 2em;
}
[data-top-bar] [data-cart]{
  margin-right: 10em;
}

[data-row1]{
  display: flex;
  flex-direction: row;
  margin-left: 10em;
  margin-top: 2em;
  margin-bottom: 2em;
  
}

[data-row1] [data-banner-ad]{
  margin-left: auto;
  margin-right: 10em;
  
}

[data-row1] header {
  align-self: center;
  
}

[data-row1] header h1 {
  color: #4e5256;
  
}


[data-row1] header span {
  color:  #ff600a;
  
}

[data-nav]{
  background-color: #4e5256;
  margin-bottom: 2em;
  margin: 0 10em;
  
}
[data-nav] ul{
  list-style: none;
  padding: 0;
}

[data-nav] ul li{
  display: inline-block;
  padding: 1em; 
  color: white;
  font-size: 110%;
  border-left: .0009em solid  rgb(148, 144, 144); 
}

[data-nav] ul li.active{
  color: #ff600a;
  font-weight: bold;

}





.header .row div{
   color: #757373;
   font-size: 80%;
}

.fa {
    margin-right: 10px;
    font-size: 5em;
    color: #ff600a;
   
}
.badge{
  position: relative;
  left: -1.5em;
  top: -1.5em;  

}
[data-row2]{
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  margin: 2em 10em;
}

[data-row2] [data-single-car-slider]{
  
  /* background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
  /* opacity: 0.2; */
  width: 60%;
}

[data-row2] [data-query-filter]{
  background-color:rgb(221, 216, 216);
  display: flex;
  flex-direction: row;
  width: 40%;
  
}

[data-row2] [data-col1]{
  margin-left: auto;
}

[data-row2] [data-col2]{
  margin-right: 1em;
  margin-left: 2em;
}

[data-row2] select{
  width: 10.7em;
}



[data-row2] select>option{
 
  background-color:  #ff600a;
}

.form-control:focus {
  border-color:#ff600a;
  box-shadow: inset 0  1px #9c491c;;
}

[data-row-3]{
  
  /* background-color: #9c491c; */
  margin-bottom: 2em;
  margin-left: 10em;
  margin-right: 10em;
  display: flex;
  flex-direction: row;
  
}
[data-main]{

  width: 70%;
  margin-right: 2%;
 
}
 [data-switch-icons]{
  display: flex;
  margin-top: 1em;
  margin-bottom: .5em;
  
  padding-bottom: .5em;
  border-bottom: thin solid rgb(63, 61, 61);
  margin-bottom: 2em;

}
[data-switch-icons] h4{
margin-top: -.5em;
margin-bottom: .7em;
}
[data-switch-icons] .fa-th-large{
  margin-left: auto;

}


[data-featured-cars]{
  display: flex;
  flex-direction: row;
 
 
}

 [ data-car-spec]{
  width: 40%;
  /* margin-left:.5em; */
  margin-bottom: 2em;
  font-size: 80%;
  /* background-color: green; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
 
  
}



[data-price]{

  /* background-color: #999c99; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin-left: auto;
  
}
[data-side] h4{
  padding-bottom: 1.2em;
  border-bottom: thin solid rgb(63, 61, 61);
  margin-top: .1em;
  margin-bottom: 1em;
}



.subheading{
  color: #7b7d7e; 
}

.stand-out{
  background-color: #1a0900;
}
[data-featured-tag]{
  display: inline;
  color: white;
  position: relative;
  top: -12em;

  padding: .5em; 
}
.heading{
  color: #1a1b1b;
   margin-right: 1em;
}
[data-side]{
 
  /* background-color: #774a31; */
  margin-left: 4em;;
  width: 35%;
  
  /* background-color: red; */
}
[thumb-nail-image]{
  width: 100px;
}
[thumb-nail-desc]{
 margin: 0  1em 2em 1em;
}

[data-car-spec] .inner-text{
  float: right;
 margin-right: 0;

}
[thumb-nail-container]{
  display: flex;

}
[thumb-nail-container] .fa{
  font-size: 70%;
  margin-right: 0;
}

[thumb-nail-container] .fa-comment{
  
  margin-left: 1em;
}
[thumb-nail-desc] div{
  font-size: 80%;
}
[data-footer]{
  background-color: #4e5256;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 80%;
}

[data-footer-row1]{
  display: flex;
  flex-direction: row;
  /* background-color: white; */
}
[data-footer-row1] [data-col1]{
  margin-left: 10em;
}

[data-footer-row1] [data-col1], [data-footer-row1] [data-col2],[data-footer-row1] [data-col3],[data-footer-row1] [data-col4]{
  width: 20%;
 padding: 1.5em;
 color: white;
}
[data-footer-row1] ul li, [data-footer-row1] h4{
  border-bottom: thin solid rgb(200, 198, 198);
  padding: .5em 0 .5em 0;
}

[data-footer-row1] h4{
  border-bottom: thin solid rgb(200, 198, 198);
  margin-bottom: 1em;
}
[data-footer-row1] [data-col1]{
  padding-left: 0;
}

[data-footer-row1] h4 span{
  color: #ff600a;
}

[ data-footer-row1] [data-col2]  ul span{
  float: right;
  /* color: red; */
}

[ data-footer-row1] [data-col2]  ul li span:last-child{
  color: #ff600a;
}
[data-footer] [ data-col5]{
  margin-left: 10em;
  margin-right: 10em;
  color: rgb(200, 198, 198);
  margin-bottom: 2em;
}

[data-footer] [ data-col5] span{
  float: right;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

